
.background_reed_me
{
	background:#DADFEB	
}
.priv_mess_content_admin
{
	display:none;	
}

.widefat th
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px	
}
	#toplevel_page_admin_menu a.wp-first-item
	{
		font-size:11px
	}
	
	.delete_thing
	{
		border:1px solid red;
		background:#F5E6EA;
		overflow:hidden;
		margin:10px 0px 10px 0;
		border-radius: 5px; padding:10px;
	}
	
	.saved_thing
	{
		border:1px solid #333;
		background:green;
		overflow:hidden; color:#fff;
		padding:10px; margin-bottom:5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:920px
	}
	.err_thing
	{
		border:1px solid #333;
		background:red;
		overflow:hidden; color:#fff;
		padding:10px; margin-bottom:5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:920px
	}
	
	.padd10
	{
		padding:10px
	}
	
	.cat-class
	{
		-moz-border-radius: 10px;
		border-radius: 10px; padding:10px;
			
		width:400px; height:200px;    
		background-color:#FDFFEF;
		margin-top:10px;    
		overflow:auto;border:1px solid #333
	}
	
	#post-new4
{
	list-style-type:none;
	overflow:hidden
	
}

#post-new4 li
{
	float:left;
	display:block;
	margin-bottom:0px;
	overflow:hidden;
	width:100%
}

#post-new4 li h2
{
	float:left;
	width:130px;
	font-size:12px;
	margin-top: 0;
	margin-bottom: 0;
}

#post-new4 li p
{
	float:left;
	width:187px;
	overflow:hidden
}
	
	.go_go1
	{
		width:100%;
		overflow:hidden;
		margin-bottom:4px	
	}
	
	.go_go2_1{
		float:left; width:130px	;padding-top:4px
	}
	.go_go2_2{
		float:left; width:200px	
	}
	
	.MY_mo_gogo
	{
		width:100%;
		padding:6px;
		border-bottom:1px solid #ccc	
	}
	
	
	a.green_btn:link, a.green_btn:visited {
	background:#F60 ; 
	display: inline-block; 
	padding: 2px 10px 2px 10px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	
	margin-left:3px;
	font-size:12px;
	}

a.green_btn:hover
{
		
		background:#F90;
		color:#FFF;
		text-decoration:none;
}

a.green_btn2:link, a.green_btn2:visited {
	background:#9C0 ; 
	display: inline-block; 
	padding: 2px 10px 2px 10px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	
	margin-left:3px;
	font-size:12px;
	}

	
a.green_btn2:hover
{
		
		background:#9F9;
		color:#FFF;
		text-decoration:none;
}

.sitemile-table{ border-collapse:collapse; font-family:Arial, Helvetica, sans-serif }
.sitemile-table tr td { border-bottom:1px solid #dedede; padding:7px; }
.ui-tabs .ui-tabs-panel { padding:0 }

#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu, #adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu { width:155px }


#icon-options-general2 {	background:url('images/setup_icon_big.png') no-repeat }
#icon-options-general3 {	background:url('images/email_icon_big.png') no-repeat }
#icon-options-general4 {	background:url('images/dollar_icon_big.png') no-repeat }
#icon-options-general44 {	background:url('images/mem_icon2.png') no-repeat }
#icon-options-general5 {	background:url('images/bal_icon_big.png') no-repeat }
#icon-options-general6 {	background:url('images/info_icon_big.png') no-repeat }
#icon-options-general7	 {	background:url('images/orders_icon_big.png') no-repeat }
#icon-options-general8	 {	background:url('images/overview_icon_big.png') no-repeat }

#icon-options-general-track	 {	background:url('images/track_icon_big.png') no-repeat }
#icon-options-general-info	 {	background:url('images/info_icon_big.png') no-repeat }
#icon-options-general-arb	 {	background:url('images/arbiter_icon_big.png') no-repeat }
#icon-options-general-orders	 {	background:url('images/orders_icon_big.png') no-repeat }
#icon-options-general-mess	 {	background:url('images/mess_icon_big.png') no-repeat }
#icon-options-general-rev	 {	background:url('images/review_icon_big.png') no-repeat }
#icon-options-general-bal	 {	background:url('images/bal_icon_big.png') no-repeat }
#icon-options-general-vault	 {	background:url('images/vault_icon_big.png') no-repeat }
#icon-options-general-withdr	 {	background:url('images/wallet_icon_big.png') no-repeat }
#icon-options-general-gateway	 {	background:url('images/gateway_icon_big.png') no-repeat }
#icon-options-general-layout	 {	background:url('images/layout_icon_big.png') no-repeat }
#icon-options-general-adve	 {	background:url('images/adv_icon_big.png') no-repeat }
#icon-options-general-email	 {	background:url('images/email_icon_big.png') no-repeat }
#icon-options-general-summary	 {	background:url('images/overview_icon_big.png') no-repeat }
#icon-options-general-pricing	 {	background:url('images/dollar_icon_big.png') no-repeat }
#icon-options-general-custpricing	 {	background:url('images/penny_icon_big.png') no-repeat }
#icon-options-general-custfields	 {	background:url('images/input_icon_big.png') no-repeat }
#icon-options-general-img	 {	background:url('images/image_icon_big.png') no-repeat }
#icon-options-general-list	 {	background:url('images/list_icon_big.png') no-repeat }
#icon-options-next_bid_levels {	background:url('images/etq.png') no-repeat }

.wrap h2.my_title_class_sitemile { margin-bottom:10px }
.ui-tabs { box-shadow:0px 0px 10px #ccc; }
.padd101 { padding:30px 0 30px 0 }

.festin
{
	color:#558DCC;
	text-decoration:underline  	
}

/*  idTabs ~ Sean Catchpole  */


/* Style for Usual tabs */
.usual {
  background:#c3c3c3;
  color:#111;
  border-radius:6px;
  padding:15px 20px;
  width:95%;
  border:1px solid #aaa;
  margin:8px auto;
  float:left;
}
.usual ul { margin:0; padding:0 }

.usual li { list-style:none; float:left; margin:0 }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:12px Verdana;
  color:#FFF;
  background:#444;
}
.usual ul a:hover {
  color:#FFF;
  background:#111;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
.usual div {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:snow;
  font:10pt Georgia;
}
.usual div a:link.festin, .usual div a:visited.festin { text-decoration:underline }

#usual2 { background:#c3c3c3; border:1px solid #aaa; }



.spntxt_bo { line-height:18px; width:500px; color:#777; font-size:12px; font-family:Arial, Helvetica, sans-serif !important; margin-bottom:20px; }
.spntxt_bo2 { line-height:18px; width:500px; color:#777; font-size:11px; font-family:Arial, Helvetica, sans-serif !important; margin-bottom:20px; }