/*------------Stewart---------*/

.navbar-default{
	background-color: white;
	border-color: #e7e7e7;
}

.navbar-brand {
  padding-bottom: 0px;
}

#site-search{
  margin-bottom: 0;
  margin-top: 0px;
  padding-right: 9px;
}

#site-search form{
  width:300px;
}

#site-search{
	padding-bottom: 0px;
	padding-top: 5px;
}

@media (min-width:768px) {
  #site-search{
    float:right;
    width:300px;
  } 
}

/* Padding for main header text at different page widths */
.nav{
  padding-bottom: 0px;
} 

@media (min-width:1200px) {
  .nav{
    padding-top: 55px;
  } 
}


@media (max-width:1199px) {
  .nav{
    padding-top: 6px;
  } 
}


.navbar-default .navbar-nav > li > a {
  color: black;
}

#right-header-nav > li > a { 
  color: #027dbd;
  font-size:13px;

}

#right-header-nav > li:last-child > a{
  border:none;
}
#site-search .form-control{
	height: 28px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #027dbd;
}

/** hack to fix the bootstrap 3 override in carousel */
.pager {
  margin: 0;
}


#featured-properties h3, .partners-featured h3{
  text-align: left;
  border-bottom: 1px solid rgb(224, 222, 222);
  padding-bottom: 5px;
  color:   #475F77;
}

#news-panel{
  padding-top: 10px;
}

#news-panel .panel{
  height: 180px;
}

#newsletter-panel{
  text-align: left;
  margin-top:20px;
}

#newsletter-panel .btn{
  background-color: #C4C4C4;  
}

#newsletter-panel label{
  font-weight: normal;
  color: white;
}

#newsletter-panel .form-group{
  width: 234px;
}

#newsletter-panel .panel-heading, #newsletter-panel .panel{
  background-color: #D74B4B;
}

#news-panel .panel, #newsletter-panel .panel{
  color: #DCDDD8;
  border: 0px;
}

#news-panel .panel-body, #newsletter-panel .panel-body{
  padding-top: 1px;
}

#news-panel .panel p{
  border-bottom: 1px dotted rgb(224, 222, 222);
  margin-bottom: 8px;
  padding-bottom: 8px;
  color:black;
}

#news-panel .panel-heading, #newsletter-panel .panel-heading {
  border: 0;
  text-transform:uppercase;
}

#newsletter-panel .panel-heading {
  color:white;
}

#news-panel .panel-heading{
  background-color: white;
  color:   #475F77;
}

.img-panel{
  margin-top:10px;
}

.img-panel > .description{
  padding-top: 5px;
}

.img-panel, .title{
  text-align: left;
}

.img-panel .price{
  text-align: left;
  color: rgb(71, 95, 119);
}

.panel-starter{
  background-image: url("images/terraced_houses_blur_wash.jpg");
  text-align: left;
  color:white;
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.partners-featured{
  padding-bottom: 10px;
}

.partners-featured img{
  height:86px;
  display:inline-block;
  padding-right:5px;
  padding-top:5px;
}
.auto-width{
	width:auto !important;
}

#ad-other-details{
  margin-top:50px;
}

.top {
  padding-top: 8px;
}

.top ul.loginbar {
  margin: 0;
  padding: 0;
  z-index: 9999;
  position: relative;
}

.top ul.loginbar > li {
display: inline;
list-style: none;
padding-bottom: 15px;
}

.top ul.loginbar li.devider {
top: -1px;
padding: 0;
font-size: 8px;
position: relative;
margin: 0 9px 0 5px;
font-family: Tahoma;
border-right: solid 1px #bbb;
}

#buying .collapse-item,#partners .collapse-item{
  background-color: #E7E7E7;
  padding: 10px; 
}

#buying .collapse-item:hover, #partners .click-line:hover{
  cursor:pointer; 
}

#buying .glyphicon-ok, #selling .glyphicon-ok{
  color: green;
}

.radio-spacer{
  padding-left: 10px;
  padding-bottom: 10px;
}